@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body{font-family: "Note sans KR", sans-serif !important; margin: 0;}

#header{width: 1725px; height: 80px; margin-left: auto; margin-top: 0; margin-bottom: 0; margin-right: auto;}
.logo{float: left; margin-top: 15px;}
.logo img {width: 150px;}
.menu{float: left; margin-top: 20px;}
.menu li{list-style: none; float: left;}
.menu li a{display: block; padding: 10px 15px 90px; color: #000000; text-decoration: none;}
.menu li a:hover{color: #1f58e4; text-decoration: none;}

.login a{margin-top: 20px; list-style: none; display:block; float:right; 
        text-decoration: none; color: #000000; padding: 10px 15px; text-decoration: none;}
.login a:hover{color: #1f58e4; text-decoration: none;}

#container{width: 100%;}
#content {width: 100%; background-color: #0000CC;}
.content_area {width: 1725px; height: 440px; margin-left: auto; margin-top: 0; margin-bottom: 0; margin-right: auto;color: white;}
